@model IEnumerable<DsiSporKayitSistemi.Models.KurKayit>
@{
    ViewBag.Title = "KursListesi";
    Layout = "~/Views/Shared/Layout.cshtml";

    string formatTimeSpan(TimeSpan? timeSpan) //zaman format belirleme
    {
        return timeSpan.HasValue ? $"{timeSpan.Value.Hours:D2}:{timeSpan.Value.Minutes:D2}": "Girilmemiş";
    }

    string formatDateTime(DateTime? dateTime) //tarih formatı 
    {
        return dateTime.HasValue ? dateTime.Value.ToString("dd-MM-yyyy") : "Girilmemiş";
    }
}

<h2 class="text-center">Kurs Listesi</h2>
<div class="container-md">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <!-- Kurs Listesi Tablosu -->
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Kurs Adı</th>
                                        <th>Dönem</th>
                                        <th>Başlangıç Tarihi</th>
                                        <th>Bitiş Tarihi</th>
                                        <th>Kontenjan</th>
                                        <th>Antrenör</th>
                                        <th>Başlangıç Saati</th>
                                        <th>Bitiş Saati</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var kurs in Model)
                                    {
                                        <tr>
                                            <td>@kurs.KurAdi</td>
                                            <td>@kurs.Donem.DonemAdi</td>
                                            <td>@formatDateTime(kurs.BaslangicTarihi)</td>
                                            <td>@formatDateTime(kurs.BitisTatihi)</td>
                                            <td>@kurs.Kontenjan</td>
                                            <td>@(kurs.Antrenorler != null ? $"{kurs.Antrenorler.AntrenorAdi} {kurs.Antrenorler.AntrenorSoyadi}" : "Girilmemiş")</td>
                                            <td>@formatTimeSpan(kurs.SaatBaslangic)</td>
                                            <td>@formatTimeSpan(kurs.SaatBitis)</td>
                                            <td>
                                                <div class="btn-group">
                                                    @Html.ActionLink("Düzenle","KursUpdateForm", new { id = kurs.KurID }, new { @class = "btn btn-warning btn-sm mr-2" })

                                                    @Html.ActionLink("Sil","KursSil","KontrolPaneli", new { id = kurs.KurID }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Bu spor dalını silmek istediğinizden emin misiniz?');" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
